[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-cloud-storage = "*"
ffmpeg-python = "*"
git+https://github.com/sanchit-gandhi/whisper-jax.git = "*"
cached_property = "*

[requires]
python_version = "3.8"